name: CI

on:
  push:
    branches:
      - "master"
  pull_request:
    branches:
      - "master"
  schedule:
    # Nightly tests run on master by default:
    #   Scheduled workflows run on the latest commit on the default or base branch.
    #   (from https://help.github.com/en/actions/reference/events-that-trigger-workflows#scheduled-events-schedule)
    - cron: "0 0 * * *"

jobs:
  test:
    name: Test on ${{ matrix.cfg.os }}, Python ${{ matrix.python-version }}
    runs-on: ${{ matrix.cfg.os }}
    strategy:
      fail-fast: false
      matrix:
        python-version:
          - "3.7"
          - "3.8"
          - "3.9"
          - "3.10"
        cfg:
          - os: ubuntu-latest
          - os: macOS-latest

    steps:
      - uses: actions/checkout@v2.3.4

      - name: Additional info about the build
        shell: bash
        run: |
          uname -a
          df -h
          ulimit -a

      - name: Setup conda
        uses: conda-incubator/setup-miniconda@v2.1.1
        with:
          # More info on options: https://github.com/conda-incubator/setup-miniconda
          python-version: ${{ matrix.python-version }}
          environment-file: devtools/conda-envs/test_env.yaml
          channels: conda-forge,defaults,omnia
          activate-environment: test
          auto-update-conda: true
          auto-activate-base: false
          show-channel-urls: true

      - name: Install package
        shell: bash -l {0}
        run: |
          conda remove --force openforcefields
          python -m pip install -e .
          conda list
          conda info --all

      - name: Test the package
        shell: bash -l {0}
        run: |
          pytest -v openforcefields/tests/
