name: CI

on:
  push:
    branches:
      - "master"
  pull_request:
    branches:
      - "master"
  schedule:
    # Nightly tests run on master by default:
    #   Scheduled workflows run on the latest commit on the default or base branch.
    #   (from https://help.github.com/en/actions/reference/events-that-trigger-workflows#scheduled-events-schedule)
    - cron: "0 0 * * *"

jobs:
  test:
    name: Test on ${{ matrix.os }}, Python ${{ matrix.python-version }}, Toolkit ${{ matrix.toolkit }}
    runs-on: ${{ matrix.os }}
    strategy:
      fail-fast: false
      matrix:
        python-version:
          - "3.7"
          - "3.8"
          - "3.9"
        os:
          - ubuntu-latest
          - macos-latest
        toolkit:
          - true
          - false

    steps:
      - uses: actions/checkout@v2.3.4

      - name: Additional info about the build
        shell: bash
        run: |
          uname -a
          df -h
          ulimit -a

      - name: Install dependencies
        if: ${{ matrix.toolkit == true }}
        uses: conda-incubator/setup-miniconda@v2.1.1
        with:
          python-version: ${{ matrix.python-version }}
          environment-file: devtools/conda-envs/test_env.yaml
          activate-environment: openff-forcefields-test
          auto-update-conda: true
          auto-activate-base: false

      - name: Install dependencies
        if: ${{ matrix.toolkit == false }}
        uses: conda-incubator/setup-miniconda@v2.1.1
        with:
          python-version: ${{ matrix.python-version }}
          environment-file: devtools/conda-envs/test_no_toolkit.yaml
          activate-environment: test-no-toolkit
          auto-update-conda: true
          auto-activate-base: false

      - name: Install package
        shell: bash -l {0}
        run: |
          conda remove --force openff-forcefields
          python -m pip install -e .
          conda list
          conda info --all

      - name: Test the package
        shell: bash -l {0}
        run: |
          pytest -v openforcefields/tests/ --cov=openforcefields/ --cov-config=setup.cfg --cov-append --cov-report=xml

      - name: Codecov
        uses: codecov/codecov-action@v2.1.0
        with:
          file: ./coverage.xml
          fail_ci_if_error: true
